/*
------------------------------
>>>> TABLE OF CONTENTS:
------------------------------
1.0 Global
2.0 Dashboard

------------------------------
*/



/* 1.0 GLOBAL */
body {
    padding-top: 50px;
}

.starter-template {
    padding:40px 15px;
}


/* 2.0 DASHBOARD */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgb(51, 51, 51);
    padding-top: 51px;
}

#main {
    transition: margin-left .5s;
    padding: 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* 3.0 CHAT */

#chat {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 600px;
    background: rgba(183,222,237,1);
    background: -moz-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 38%, rgba(33,180,226,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(183,222,237,1)), color-stop(38%, rgba(113,206,239,1)), color-stop(100%, rgba(33,180,226,1)));
    background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 38%, rgba(33,180,226,1) 100%);
    background: -o-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 38%, rgba(33,180,226,1) 100%);
    background: -ms-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 38%, rgba(33,180,226,1) 100%);
    background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 38%, rgba(33,180,226,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#21b4e2', GradientType=1 );
    padding: 0;
}

#comments {
    overflow-y: scroll;
    height: 370px;
    padding: 15px;
}

#submitForm {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.media {
    background-color: rgba(245, 245, 245, .6) !important;
}

/* Styles for SCROLL bar */
/*::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important; 
}

::-webkit-scrollbar-thumb {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important;*/ 
}