<!DOCTYPE html>
<html lang="en" ng-app="journalApp" ng-cloak>
    <head>
        <base href="/">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This application is built as a part of the examination">
        <meta name="author" content="">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="assets/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="assets/img/favicon//ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="css/styles.css" >

        <!--[if IE]>
<script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
<![endif]-->
        <title translate="GLOBAL.JOURNAL"></title>
    </head>
    <body ng-controller="appCtrl"> <!--  onload="window.location='#endOfComments'" -->

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only" translate="GLOBAL.TOGGLE_NAVIGATION"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ng-href="/"><span translate="GLOBAL.JOURNAL"></span></a>
                    <a class="navbar-brand" ng-href="/" style="padding: 5px 10px">
                        <img alt="Brand" src="assets/img/logo.png" height="40px">
                    </a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a ng-href="/dashboard">
                                <span class="glyphicon glyphicon-th-large"></span> <span translate="GLOBAL.NAV_DASHBOARD"></span></a>
                        </li>
                        <li>
                            <a ng-href="/add-article"><span class="glyphicon glyphicon-plus"></span> <span translate="GLOBAL.NAV_ADDARTICLE"></span>
                            </a>
                        </li>
                        <li>
                            <a ng-href="/article-list"><span class="glyphicon glyphicon-tasks"></span> <span translate="GLOBAL.NAV_NEWARTICLES"></span>
                            </a>
                        </li>
                        <li>
                            <a ng-href="/author-stats">
                                <span class="glyphicon glyphicon-stats"></span> <span translate="GLOBAL.NAV_STATS"></span>
                                <sub class="label label-warning" translate="GLOBAL.NAV_SOON"> <span class="glyphicon glyphicon-wrench"></span></sub>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a ng-href="/login">
                                <span class="glyphicon glyphicon-log-in"></span> <span translate="GLOBAL.NAV_LOGIN"></span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span translate="GLOBAL.NAV_HELLOUSER"></span><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ng-href="/profile">
                                        <span class="label label-success" translate="GLOBAL.NAV_NEW"></span>
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span translate="GLOBAL.NAV_USERSPROFILE"> </span>
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a ng-href="/settings"><span class="label label-warning" translate="GLOBAL.NAV_SOON"> <span class="glyphicon glyphicon-wrench"></span></span> <span class="glyphicon glyphicon-cog"></span> <span translate="GLOBAL.NAV_SETTINGS"></span></a>
                                </li>
                                <li>
                                    <a ng-href="/settings"><span class="label label-warning" translate="GLOBAL.NAV_SOON"> <span class="glyphicon glyphicon-wrench"></span></span> <span class="glyphicon glyphicon-question-sign"></span> <span translate="GLOBAL.NAV_HELP"></span></a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a ng-href="/logout"><span class="glyphicon glyphicon-log-out"></span> <span translate="GLOBAL.NAV_LOGOUT"></span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe"></span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="changeLanguage('en')"  translate="GLOBAL.CHANGE_TO_ENGLISH"></a></li>
                                <li><a href="#" ng-click="changeLanguage('ru')" translate="GLOBAL.CHANGE_TO_RUSSIAN"></a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--.nav-collapse -->

            </div><!-- .container -->
        </nav>


        <div class="container-fluid">
            <div class="starter-template">
                <ng-view></ng-view>
            </div>
        </div>


        <!-- Bootstrap and jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <!-- AngularJS  -->
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js'></script>
        <script src='https://code.angularjs.org/1.4.3/angular-route.js'></script>
        <script src='https://code.angularjs.org/1.4.3/angular-messages.js'></script>

        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/3.3.2/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyCYOCzrTEyXH2R5BYlx0B2AtYn8Ny78LY0",
                authDomain: "sepjournal-991b7.firebaseapp.com",
                databaseURL: "https://sepjournal-991b7.firebaseio.com",
                storageBucket: "sepjournal-991b7.appspot.com",
            };
            firebase.initializeApp(config);
        </script>

        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/2.0.2/angularfire.min.js"></script>

        <!-- Angular translate -->
        <script src="https://cdn.rawgit.com/SlexAxton/messageformat.js/v0.3.0/messageformat.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.10.0/angular-translate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-interpolation-messageformat/2.10.0/angular-translate-interpolation-messageformat.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-cookie/2.10.0/angular-translate-storage-cookie.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-local/2.10.0/angular-translate-storage-local.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-url/2.10.0/angular-translate-loader-url.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.10.0/angular-translate-loader-static-files.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-handler-log/2.10.0/angular-translate-handler-log.js"></script>

        <!-- App files -->
        <script src="app.js"></script>

        <!-- Controllers -->
        <script src="controllers/appCtrl.js"></script>
        <script src="controllers/loginCtrl.js"></script>
        <script src="controllers/addArticleCtrl.js"></script>
        <script src="controllers/articlesManagerCtrl.js"></script>
        <script src="controllers/dashboardCtrl.js"></script>
        <script src="controllers/chatController.js"></script>
        <script src="controllers/profileCtrl.js"></script>

        <!-- Services -->
        <script src="services/authService.js"></script>
        <script src="services/articleService.js"></script>
        <script src="services/dashboardService.js"></script>

        <!-- Directives -->
        <script src="directives/highlightDirective.js"></script>

        <!-- Languages -->
        <script src="languages/en.js"></script>
        <script src="languages/ru.js"></script>

    </body>
</html>